{% extends 'layout.html' %}

{% block title %} Codepiphany - Boxes {% endblock %}

{% block body %}
<style>
    .body
    {
        padding: 0;
        margin: 0;
    }
    *{
        padding: 0;
        margin: 0;
    }
    .box
    {
        height: 100%;
        width: 80%;
        padding: 15px;
        line-height: 1.3em;
        font-family: sans-serif;
        background-color: white;
        margin: auto;
        border-top: solid #555 3px;
        box-shadow: 10px 10px 5px #aaaaaa;
    }
</style>
<div class="container-fluid">
    <div class="box box-default">
        <div class="box-header">
            <h2 class="header-brand"></h2>
        </div>
        <div class="box-body">
            <div class="jumbotron">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, dignissimos tenetur inventore, nulla praesentium sequi similique ut hic repellendus iusto, eaque doloremque et voluptatum quod consectetur perspiciatis animi laborum eos accusantium necessitatibus ullam autem incidunt! Magnam odio expedita, sequi et, quos ea harum officia vero illum nulla animi. Placeat aliquam quas eius velit debitis eaque culpa saepe omnis iste corporis ab perspiciatis laboriosam sit, atque sapiente deserunt? Quasi consequuntur quis molestiae non. Ad aliquid deserunt reiciendis, alias eos laborum eveniet veritatis cumque atque a, id totam! Ducimus, illum suscipit?
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>528522</h1>
                </div>
                <div class="panel-body">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique amet ipsam officia quaerat possimus commodi delectus debitis eius, ab cum in et numquam veniam voluptatum perspiciatis consectetur voluptate optio. Voluptas atque iure ipsam necessitatibus quo illo autem, temporibus est eum magni itaque, laboriosam libero, animi earum minus provident numquam fugit nostrum impedit porro quae fuga esse? Aut, hic rem? Incidunt, asperiores rerum soluta sed rem ipsa, fugit, quam deleniti ipsam sunt autem! Quis similique corrupti quibusdam. Id, voluptate architecto illo tempora quasi quo numquam, possimus vel molestiae vero laudantium! Velit.
                </div>
            </div>
            <div class="well well-lg">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores consequuntur praesentium dicta velit hic ullam sint corrupti voluptatem, delectus dolorum necessitatibus excepturi repellendus tenetur obcaecati quia eos recusandae rerum vel!
            </div>
        </div>
        <div class="box-footer">

        </div>
    </div>
</div>

{% endblock %}